.product-container {
	display: flex;
	flex-flow: wrap;
	padding: 24px;
}

.product-container img {
	max-width: 310px;
}

.woo-next-single {
	display: flex;
	justify-content: center;
	margin-top: 30px
}

.woo-next-single__product {
	max-width: 600px;
}
